In [1]:
import numpy as np
import pandas as pd

In [5]:
index = pd.date_range('1/1/2023', periods=9, freq='M')

In [8]:
df = pd.DataFrame(
    np.random.rand(9,3),
    index=index,
    columns=['A', 'B', 'C']

)

In [9]:
df

                   A         B         C
2023-01-31  0.214428  0.228698  0.506209
2023-02-28  0.658525  0.354613  0.394566
2023-03-31  0.167165  0.223364  0.350461
2023-04-30  0.350314  0.313123  0.144332
2023-05-31  0.867844  0.235344  0.980278
2023-06-30  0.742956  0.730953  0.986393
2023-07-31  0.673490  0.463311  0.873275
2023-08-31  0.264680  0.403108  0.163643
2023-09-30  0.325284  0.491763  0.436306

In [10]:
df.columns = [x.lower() for x in df.columns]

In [11]:
df

                   a         b         c
2023-01-31  0.214428  0.228698  0.506209
2023-02-28  0.658525  0.354613  0.394566
2023-03-31  0.167165  0.223364  0.350461
2023-04-30  0.350314  0.313123  0.144332
2023-05-31  0.867844  0.235344  0.980278
2023-06-30  0.742956  0.730953  0.986393
2023-07-31  0.673490  0.463311  0.873275
2023-08-31  0.264680  0.403108  0.163643
2023-09-30  0.325284  0.491763  0.436306

In [12]:
row = df.iloc[2]

In [13]:
row

a    0.167165
b    0.223364
c    0.350461
Name: 2023-03-31 00:00:00, dtype: float64

In [15]:
column=df['b']

In [16]:
column

2023-01-31    0.228698
2023-02-28    0.354613
2023-03-31    0.223364
2023-04-30    0.313123
2023-05-31    0.235344
2023-06-30    0.730953
2023-07-31    0.463311
2023-08-31    0.403108
2023-09-30    0.491763
Freq: M, Name: b, dtype: float64

In [17]:
df - row

                   a         b         c
2023-01-31  0.047262  0.005334  0.155749
2023-02-28  0.491359  0.131248  0.044106
2023-03-31  0.000000  0.000000  0.000000
2023-04-30  0.183148  0.089758 -0.206129
2023-05-31  0.700679  0.011980  0.629817
2023-06-30  0.575790  0.507588  0.635932
2023-07-31  0.506324  0.239946  0.522815
2023-08-31  0.097515  0.179744 -0.186817
2023-09-30  0.158118  0.268399  0.085845

In [40]:
#alternative approach
# 0 --> row ---> index
# 1 ---> column
df.sub(row, axis='columns')

                   a         b         c
2023-01-31  0.047262  0.005334  0.155749
2023-02-28  0.491359  0.131248  0.044106
2023-03-31  0.000000  0.000000  0.000000
2023-04-30  0.183148  0.089758 -0.206129
2023-05-31  0.700679  0.011980  0.629817
2023-06-30  0.575790  0.507588  0.635932
2023-07-31  0.506324  0.239946  0.522815
2023-08-31  0.097515  0.179744 -0.186817
2023-09-30  0.158118  0.268399  0.085845

In [30]:
df2 = df.copy()

In [31]:
df2

                   a         b         c
2023-01-31  0.214428  0.228698  0.506209
2023-02-28  0.658525  0.354613  0.394566
2023-03-31  0.167165  0.223364  0.350461
2023-04-30  0.350314  0.313123  0.144332
2023-05-31  0.867844  0.235344  0.980278
2023-06-30  0.742956  0.730953  0.986393
2023-07-31  0.673490  0.463311  0.873275
2023-08-31  0.264680  0.403108  0.163643
2023-09-30  0.325284  0.491763  0.436306

In [32]:
df2.index = list(range(9))

In [33]:
df2

          a         b         c
0  0.214428  0.228698  0.506209
1  0.658525  0.354613  0.394566
2  0.167165  0.223364  0.350461
3  0.350314  0.313123  0.144332
4  0.867844  0.235344  0.980278
5  0.742956  0.730953  0.986393
6  0.673490  0.463311  0.873275
7  0.264680  0.403108  0.163643
8  0.325284  0.491763  0.436306

In [41]:
df2.at['2', 'b'] = 1

In [42]:
df2

          a         b         c
0  0.214428  0.228698  0.506209
1  0.658525  0.354613  0.394566
2  0.167165  0.223364  0.350461
3  0.350314  0.313123  0.144332
4  0.867844  0.235344  0.980278
5  0.742956  0.730953  0.986393
6  0.673490  0.463311  0.873275
7  0.264680  0.403108  0.163643
8  0.325284  0.491763  0.436306
2       NaN  1.000000       NaN
9       NaN  1.000000       NaN

## Boolian Reduction

In [46]:
(df>0).all(axis='rows')

a    True
b    True
c    True
dtype: bool

In [47]:
(df>0).any(axis='columns')

2023-01-31    True
2023-02-28    True
2023-03-31    True
2023-04-30    True
2023-05-31    True
2023-06-30    True
2023-07-31    True
2023-08-31    True
2023-09-30    True
Freq: M, dtype: bool

In [48]:
(df + df).equals(df2) #az lahaze mohtavaee

False

In [49]:
## Combine dfs