In [1]:
!pip install Faker
!pip install names-dataset

Requirement already satisfied: Faker in /home/shirin/anaconda3/envs/ali-ml/lib/python3.10/site-packages (19.6.0)
Requirement already satisfied: python-dateutil>=2.4 in /home/shirin/anaconda3/envs/ali-ml/lib/python3.10/site-packages (from Faker) (2.8.2)
Requirement already satisfied: six>=1.5 in /home/shirin/anaconda3/envs/ali-ml/lib/python3.10/site-packages (from python-dateutil>=2.4->Faker) (1.16.0)
Requirement already satisfied: names-dataset in /home/shirin/anaconda3/envs/ali-ml/lib/python3.10/site-packages (3.1.0)
Requirement already satisfied: pycountry in /home/shirin/anaconda3/envs/ali-ml/lib/python3.10/site-packages (from names-dataset) (22.3.5)
Requirement already satisfied: setuptools in /home/shirin/anaconda3/envs/ali-ml/lib/python3.10/site-packages (from pycountry->names-dataset) (68.0.0)

In [28]:
from faker import Faker
import numpy as np
import pandas as pd

In [29]:
fa_fake = Faker('fa')
en_fake = Faker()

In [30]:
en_fake.name()

'Robert Gutierrez'

In [31]:
fa_fake.name()

'محمدحسين قاضی'

In [32]:
from names_dataset import NameDataset

In [33]:
#create object
nd = NameDataset()

In [34]:
nd.search('shirin')

{'first_name': {'country': {'Bangladesh': 0.184,
   'Canada': 0.059,
   'Germany': 0.07,
   'Egypt': 0.042,
   'United Kingdom': 0.046,
   'Iraq': 0.084,
   'Iran, Islamic Republic of': 0.284,
   'Saudi Arabia': 0.04,
   'Turkey': 0.044,
   'United States': 0.148},
  'gender': {'Female': 0.948, 'Male': 0.052},
  'rank': {'Bangladesh': 407,
   'Canada': 936,
   'Germany': 1226,
   'Egypt': 8726,
   'United Kingdom': 2487,
   'Iraq': 3207,
   'Iran, Islamic Republic of': 269,
   'Saudi Arabia': 10287,
   'Turkey': 3564,
   'United States': 3419}},
 'last_name': {'country': {'United Arab Emirates': 0.056,
   'Bangladesh': 0.415,
   'Germany': 0.058,
   'Israel': 0.054,
   'Iraq': 0.055,
   'Iran, Islamic Republic of': 0.141,
   'Russian Federation': 0.051,
   'Saudi Arabia': 0.075,
   'Turkey': 0.043,
   'United States': 0.051},
  'gender': {},
  'rank': {'United Arab Emirates': 10112,
   'Bangladesh': 1164,
   'Germany': 14879,
   'Israel': 10724,
   'Iran, Islamic Republic of': 3096,
   'Iraq': None,
   'Russian Federation': None,
   'Saudi Arabia': None,
   'Turkey': None,
   'United States': None}}}

In [37]:
def make_name():
    if np.random.rand() > 0.5:
        return en_fake.name()
    return fa_fake.name()

In [38]:
make_name()

'Amy Benson'

In [39]:
df = pd.DataFrame({
    'Name' : [make_name() for _ in range(20)]
})

In [40]:
df

                           Name
0                  Andrew Sloan
1                     Amy Nolan
2                   Justin Koch
3                   Brian Grant
4                   سارا تهرانی
5                    یوسف بهمنی
6                    هليا بهمنی
7   سرکار خانم دکتر یسنا زنجانی
8                  عرفان تحسینی
9                علی اصغر عزیزی
10                Brandon Woods
11                   آريا هاشمی
12                     ثنا رسته
13                 علی ابوطالبی
14              Richard Shaffer
15                  Tiffany May
16                  سینا ضرغامی
17                  Kelly Terry
18                  Derek Smith
19                Susan Baldwin

## Extract first name and last name

In [41]:
full_name = fa_fake.name()

In [42]:
first_name, *_, last_name = full_name.split()

In [43]:
first_name

'حسين'

In [44]:
def split_name_family(name):
    name, *_, last_name = full_name.split()
    return name, last_name

In [45]:
df['First Name'] = df["Name"].apply(
    lambda full_name: full_name.split()[0]
)

In [46]:
df['Last Name'] = df["Name"].apply(
    lambda full_name: full_name.split()[1]
)

In [47]:
df

                           Name First Name Last Name
0                  Andrew Sloan     Andrew     Sloan
1                     Amy Nolan        Amy     Nolan
2                   Justin Koch     Justin      Koch
3                   Brian Grant      Brian     Grant
4                   سارا تهرانی       سارا    تهرانی
5                    یوسف بهمنی       یوسف     بهمنی
6                    هليا بهمنی       هليا     بهمنی
7   سرکار خانم دکتر یسنا زنجانی      سرکار      خانم
8                  عرفان تحسینی      عرفان    تحسینی
9                علی اصغر عزیزی        علی      اصغر
10                Brandon Woods    Brandon     Woods
11                   آريا هاشمی       آريا     هاشمی
12                     ثنا رسته        ثنا      رسته
13                 علی ابوطالبی        علی  ابوطالبی
14              Richard Shaffer    Richard   Shaffer
15                  Tiffany May    Tiffany       May
16                  سینا ضرغامی       سینا    ضرغامی
17                  Kelly Terry      Kelly     Terry
18                  Derek Smith      Derek     Smith
19                Susan Baldwin      Susan   Baldwin

## Predict Gender

In [48]:
nd.search('shirin')['first_name'].keys()

dict_keys(['country', 'gender', 'rank'])

In [49]:
nd.search('shirin')['first_name']['gender'] #we want the key with max prob for gender

{'Female': 0.948, 'Male': 0.052}

In [52]:
def gender(first_name):
    info =  nd.search(first_name)['first_name']
    if info is None: #edge case check
        return 
    return max(info['gender'], key=info['gender'].get)

In [53]:
gender("shirin")

'Female'

In [54]:
df['gender'] = df['First Name'].apply(
    gender
)

In [55]:
df

                           Name First Name Last Name  gender
0                  Andrew Sloan     Andrew     Sloan    Male
1                     Amy Nolan        Amy     Nolan  Female
2                   Justin Koch     Justin      Koch    Male
3                   Brian Grant      Brian     Grant    Male
4                   سارا تهرانی       سارا    تهرانی  Female
5                    یوسف بهمنی       یوسف     بهمنی    Male
6                    هليا بهمنی       هليا     بهمنی    None
7   سرکار خانم دکتر یسنا زنجانی      سرکار      خانم    None
8                  عرفان تحسینی      عرفان    تحسینی    Male
9                علی اصغر عزیزی        علی      اصغر    Male
10                Brandon Woods    Brandon     Woods    Male
11                   آريا هاشمی       آريا     هاشمی    None
12                     ثنا رسته        ثنا      رسته  Female
13                 علی ابوطالبی        علی  ابوطالبی    Male
14              Richard Shaffer    Richard   Shaffer    Male
15                  Tiffany May    Tiffany       May  Female
16                  سینا ضرغامی       سینا    ضرغامی    Male
17                  Kelly Terry      Kelly     Terry  Female
18                  Derek Smith      Derek     Smith    Male
19                Susan Baldwin      Susan   Baldwin  Female